# Managed by Ansible (pi-remote). Edit group_vars and re-run, or edit here
# and `sudo systemctl restart hid-keyboard-server`.
PI_REMOTE_PORT={{ pi_remote_port }}
PI_REMOTE_API_KEY={{ pi_remote_api_key }}
PI_REMOTE_KEY_DELAY={{ pi_remote_key_delay }}
PI_REMOTE_HTML={{ app_dir }}/remote.html
PI_REMOTE_IR_TOOL={{ app_dir }}/ir_tool.py
PI_REMOTE_IR_STORE={{ data_dir }}/ir_codes.json
PI_REMOTE_IR_DEVFILE={{ data_dir }}/ir_device.json
